## Build
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

## Logs
*.log

## Test Results
TestResults/
*.trx

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Publish
publish/

## Azure
*.PublishSettings

## Entity Framework
*.edmx.diagram

## Resharper
_ReSharper*/
*.DotSettings.user

## DotCover
*.dotCover

## OS files
.DS_Store
Thumbs.db